body{
    background-image: linear-gradient(141deg, #dbe4e8 0%, #716ea5 46%, #efcf8d 100%);
}


header{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
nav{
    width: 100%;
    height: 100%;
    /* background-color: black; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    font-size: 2em;
}
.logo span{
    color: rgb(255, 251, 7);
}
.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    position: relative;
}
.menu a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-top: 2px solid black;
    transition: 0.5s ease-in-out;
}
.menu a:hover::after{
    width: 100%;
}
.about a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background:black;
    border-radius: 30px;
    transition: 0.5s;
}
.about a:hover{
    background-color: floralwhite;
    border: 2px solid darkgreen;
    color: black;
}

.h-text{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.h-text h1{
    font-size: 3em;
}
.right{
    margin-top: 70px;
}

.h-text a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 3px;
    transition: 0.5s;
}

.h-text a:hover{
    background-color: floralwhite;
    color: black;
    border: 2px solid darkgreen;
}
.btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 60px;
    width: 30x;
    margin-left: 350px;
    border-radius: 30px;
    transition: 1.0s;
    padding: 10px 20px;
    letter-spacing: 2px;
}
.btn:hover{
    background-color: rgb(254, 255, 237);
    color: black;
    height: 60px;
    width: 30x;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 2px solid darkgreen;
}

.about a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    background:black;
    border-radius: 30px;
    transition: 0.5s;
}
.about a:hover{
    background-color: floralwhite;
    border: 2px solid darkgreen;
    color: black;
}

.h-text{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.h-text h1{
    font-size: 3em;
}
.right{
    margin-top: 70px;
}

.h-text a{
    text-decoration: none;
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
    letter-spacing: 3px;
    transition: 0.5s;
}
.h-text a:hover{
    background-color: floralwhite;
    color: black;
    border: 2px solid darkgreen;
}
.btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: black;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 60px;
    width: 30x;
    margin-left: 350px;
    border-radius: 30px;
    transition: 1.0s;
    padding: 10px 20px;
    letter-spacing: 2px;
    
}
.btn:hover{
    background-color: rgb(254, 255, 237);
    color: black;
    height: 60px;
    width: 30x;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    border: 2px solid darkgreen;
}

.p{
    font-size: 38px;
}